/* General styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #4b5c73;
    font-weight: 0;
    zoom: 0.8; /* Adjust the zoom level */
}

header {
    text-align: center;
    background: url('background.jpg') no-repeat center center;
    background-size: cover;
    color: #4b5c73;
    padding: 1.5em 0; /* Reduce padding */
    text-transform: uppercase;
}

.decorative-date {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0; /* Reduce margin */
    font-size: 1.5em; /* Scale down font size */
    font-family: 'Cinzel', serif;
    color: #4b5c73;
    position: relative;
    width: 100%;
}

.date-text {
    padding: 0 10px; /* Reduce padding */
    font-weight: 100;
    z-index: 1;
    font-size: 1.2em; /* Scale down font size */
}

.decorative-date::before, .decorative-date::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 35%;
    height: 2px;
    background-color: #4b5c73;
}

.decorative-date::before {
    left: 0;
}

.decorative-date::after {
    right: 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em; /* Scale down font size */
}

header p {
    margin: 0;
    font-size: 1em; /* Scale down font size */
}

#countdown {
    margin-top: 0.5em; /* Reduce margin */
    font-size: 1.2em; /* Scale down font size */
    background: #b0c4de;
    padding: 0.5em;
    border-radius: 5px;
    display: inline-block;
}

/* Section styles with different shades */
section {
    padding: 1em; /* Reduce padding */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

section:nth-of-type(1) {
    background-color: #c4dbf4; /* Light shade of dusty blue */
}

section:nth-of-type(2) {
    background-color: #d3dce7; /* Slightly darker shade of dusty blue */
}

section:nth-of-type(3) {
    background-color: #f7f8f9; /* Another shade of dusty blue */
}

section:nth-of-type(4) {
    background-color: #f2f4f7; /* Another shade of dusty blue */
}

section:not(:first-of-type) {
    margin-top: -0.5em; /* Reduce gap between sections */
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Playwrite+CZ:wght@100..400&display=swap');
h2 {
    color: #4b5c73;
    font-family: 'Cinzel';
    text-transform: uppercase;
    font-size: 2.5em; /* Scale down font size */
    font-weight: 100;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align form elements to the left */
    width: 50%; /* Set the form width to 50% */
    margin: 0 auto; /* Center the form horizontally */
}

form label {
    margin-top: 0.5em;
    width: 100%; /* Ensure labels take the full width of the form */
}

form input, form select, form button, form textarea {
    margin-top: 0.5em;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Ensure form controls take the full width of the form */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

form button {
    background-color: #4b5c73;
    color: white;
    border: none;
    cursor: pointer;
    align-self: center; /* Center the button within the form */
}

form button:hover {
    background-color: #9bb0c6;
}


/* Timeline styles */
#timeline {
    position: relative;
    padding: 1em 0; /* Reduce padding */
    background-color: #f9f9f9;
    text-align: center;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.timeline-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em; /* Reduce margin */
    width: 100%;
    position: relative;
}

.timeline-item:nth-child(odd) .timeline-image {
    order: 1; /* Display image first on odd items */
}

.timeline-item:nth-child(even) .timeline-content {
    order: 1; /* Display content first on even items */
}

.timeline-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 0.5em; /* Reduce padding */
}

.timeline-image img {
    width: 160px; /* Scale down image size */
    height: 160px; /* Scale down image size */
    border-radius: 50%;
    object-fit: cover;
}

.timeline-content {
    flex: 1;
    padding: 0.5em; /* Reduce padding */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.timeline-item:nth-child(odd) .timeline-content {
    margin-right: 2em; /* Adjust margin */
}

.timeline-item:nth-child(even) .timeline-content {
    margin-left: 2em; /* Adjust margin */
}

.timeline-content h3 {
    margin-top: 0;
    color: #4b5c73;
    font-family: 'Cinzel', serif;
    font-weight: 100;
    margin-bottom: 0.2em; /* Reduce margin */
    font-size: 0.9em; /* Adjust font size */
}

.timeline-content h4 {
    margin-top: 0; /* Ensure there is no top margin */
    margin-bottom: 0.5em; /* Maintain some space below the header */
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
}

.timeline-content p {
    margin: 0;
    font-style: italic;
    font-weight: 100;
}

.timeline-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 3px solid #4b5c73;
    border-radius: 50%;
    width: 30px; /* Scale down icon size */
    height: 30px; /* Scale down icon size */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.timeline-icon i {
    color: #4b5c73;
    font-size: 15px; /* Scale down icon size */
}

.timeline-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background: #4b5c73;
    transform: translateX(-50%);
}

#event-details {
    padding: 1em; /* Reduce padding */
    background-color: #c6d9ee; /* Light shade of blue */
    border-radius: 8px;
}

#event-details .event-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em; /* Adjust gap */
}

.event-column {
    flex: 1 1 calc(33.333% - 1em); /* Ensure three columns per row */
    box-sizing: border-box;
    text-align: center;
    padding: 1em; /* Reduce padding */
    border-radius: 8px;
}

.event-icon {
    width: 80px; /* Scale down icon size */
    height: 80px; /* Scale down icon size */
    border-radius: 50%;
    background-color: #4b5c73;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0.5em auto; /* Reduce margin */
}

.event-icon i {
    color: white;
    font-size: 30px; /* Scale down icon size */
}

.event-text h3 {
    color: #4b5c73;
    font-family: 'Cinzel', serif;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.event-text p {
    font-style: italic;
    font-weight: 100;
    color: #4b5c73;
    margin: 0.5em 0;
}

/* QR code container styles */
.qr-codes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
}

.qr-code {
    text-align: center;
}

.qr-code p {
    margin-bottom: 0.5em;
    font-weight: bold;
}

.qr-code img {
    max-width: 100px;
    height: auto;
    border: 1px solid #4b5c73;
    border-radius: 8px;
    padding: 0.5em;
    background-color: #f9f9f9;
}

/* Toggle icon styles */
.toggle-qr {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #4b5c73;
}

.rsvp-message {
    text-align: left;
    margin: 1em 0;
    font-size: 1.2em;
    position: absolute;
    top: 10px;
    right: 10px;
    /* background-color: #fff; */
    padding: 0.5em 1em;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.rsvp-message a {
    color: #4b5c73;
    text-decoration: underline;
    font-weight: lighter;
    font-style: italic;
    cursor: pointer;
    font-size: small;
}

.rsvp-message a:hover {
    color: #9bb0c6;
}
