/* General styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #4b5c73;
    font-weight: 0;
    zoom: 0.75; /* Adjust the zoom level */
    font-size: x-large;
    padding-top: 80px; /* Add padding to the top */
}

header {
    text-align: center;
    background: url('background.jpg') no-repeat center center;
    background-size: cover;
    color: #4b5c73;
    padding: 1.5em 0; /* Reduce padding */
    font-family: "WindSong", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

.decorative-date {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0; /* Reduce margin */
    font-size: 1.5em; /* Scale down font size */
    font-family: 'Cinzel', serif;
    color: #4b5c73;
    position: relative;
    width: 100%;
}

.date-text {
    padding: 0 10px; /* Reduce padding */
    font-weight: 100;
    z-index: 1;
    font-size: 2em; /* Scale down font size */
    font-family: "Cormorant Garamond", serif;
}

.decorative-date::before, .decorative-date::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 35%;
    height: 2px;
    background-color: #4b5c73;
}

.decorative-date::before {
    left: 0;
}

.decorative-date::after {
    right: 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em; /* Scale down font size */
}

header p {
    margin: 0;
    font-size: 1em; /* Scale down font size */
}

#countdown {
    margin-top: 0.5em; /* Reduce margin */
    font-size: 1.2em; /* Scale down font size */
    font-family: 'Cinzel', serif;
    background: #b0c4de;
    padding: 0.5em;
    border-radius: 5px;
    display: inline-block;
}

/* Section styles with different shades */
section {
    padding: 1em; /* Reduce padding */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

section:nth-of-type(1) {
    background-color: #c4dbf4; /* Light shade of dusty blue */
}

section:nth-of-type(2) {
    background-color: #d3dce7; /* Slightly darker shade of dusty blue */
}

section:nth-of-type(3) {
    background-color: #f7f8f9; /* Another shade of dusty blue */
}

section:nth-of-type(4) {
    background-color: #f2f4f7; /* Another shade of dusty blue */
}

section:not(:first-of-type) {
    margin-top: -0.5em; /* Reduce gap between sections */
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Playwrite+CZ:wght@100..400&display=swap');

h2 {
    color: #4b5c73;
    font-family: 'Cinzel';
    text-transform: uppercase;
    font-size: 2.5em; /* Scale down font size */
    font-weight: 100;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align form elements to the left */
    width: 50%; /* Set the form width to 50% */
    margin: 0 auto; /* Center the form horizontally */
}

form label {
    margin-top: 0.5em;
    width: 100%; /* Ensure labels take the full width of the form */
}

form input, form select, form button, form textarea {
    margin-top: 0.5em;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Ensure form controls take the full width of the form */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

form button {
    background-color: #4b5c73;
    color: white;
    border: none;
    cursor: pointer;
    align-self: center; /* Center the button within the form */
}

form button:hover {
    background-color: #9bb0c6;
}

/* Timeline styles */
#timeline {
    position: relative;
    padding: 1em 0; /* Reduce padding */
    background-color: #f9f9f9;
    text-align: center;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}

.timeline-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em; /* Reduce margin */
    width: 100%;
    position: relative;
}

.timeline-item:nth-child(odd) .timeline-image {
    order: 1; /* Display image first on odd items */
}

.timeline-item:nth-child(even) .timeline-content {
    order: 1; /* Display content first on even items */
}

.timeline-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 0.5em; /* Reduce padding */
}

.timeline-image img {
    width: 250px; /* Scale down image size */
    height: 250px; /* Scale down image size */
    border-radius: 50%;
    object-fit: cover;
}

.timeline-content {
    flex: 1;
    padding: 0.5em; /* Reduce padding */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.timeline-item:nth-child(odd) .timeline-content {
    margin-right: 2em; /* Adjust margin */
}

.timeline-item:nth-child(even) .timeline-content {
    margin-left: 2em; /* Adjust margin */
}

.timeline-content h3 {
    margin-top: 0;
    color: #4b5c73;
    font-family: 'Cinzel', serif;
    font-weight: 100;
    margin-bottom: 0.2em; /* Reduce margin */
    font-size: 0.9em; /* Adjust font size */
}

.timeline-content h4 {
    margin-top: 0; /* Ensure there is no top margin */
    margin-bottom: 0.5em; /* Maintain some space below the header */
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
}

.timeline-content p {
    margin: 0;
    font-style: italic;
    font-weight: 100;
}

.timeline-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 3px solid #4b5c73;
    border-radius: 50%;
    width: 60px; /* Scale down icon size */
    height: 60px; /* Scale down icon size */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.timeline-icon i {
    color: #4b5c73;
    font-size: 35px; /* Scale down icon size */
}

.timeline-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background: #4b5c73;
    transform: translateX(-50%);
}

#event-details {
    padding: 1em; /* Reduce padding */
    background-color: #dbe5f0; /* Light shade of blue */
    border-radius: 8px;
}

#event-details .event-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em; /* Adjust gap */
}

.event-column {
    flex: 1 1 calc(50% - 1em); /* Ensure three columns per row */
    box-sizing: border-box;
    text-align: center;
    padding: 1em; /* Reduce padding */
    border-radius: 8px;
}

.event-icon {
    width: 80px; /* Scale down icon size */
    height: 80px; /* Scale down icon size */
    border-radius: 50%;
    background-color: #4b5c73;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0.5em auto; /* Reduce margin */
}

.event-icon i {
    color: white;
    font-size: 30px; /* Scale down icon size */
}

.event-text h3 {
    color: #4b5c73;
    font-family: 'Cinzel', serif;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.event-text p {
    font-style: italic;
    font-weight: 100;
    color: #4b5c73;
    margin: 0.5em 0;
}

/* QR code container styles */
.qr-codes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
}

.qr-code {
    text-align: center;
}

.qr-code p {
    margin-bottom: 0.5em;
    font-weight: bold;
}

.qr-code img {
    max-width: 300px;
    height: auto;
    border: 1px solid #4b5c73;
    border-radius: 8px;
    padding: 0.5em;
    background-color: #f9f9f9;
}

/* Toggle icon styles */
.toggle-qr {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #4b5c73;
}

.rsvp-message {
    text-align: left;
    margin: 1em 0;
    font-size: 1.2em;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0.5em 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rsvp-message a {
    color: #4b5c73;
    text-decoration: underline;
    font-weight: lighter;
    font-style: italic;
    cursor: pointer;
    font-size: medium;
}

.rsvp-message a:hover {
    color: #9bb0c6;
}

footer {
    text-align: center;
    padding: .1em;
    background-color: #4b5c73;
    color: white;
    font-family: "Alex Brush", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 2.5em;
}

/* Navigation bar styles */
/* #navbar {
    background-color: #4b5c73;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 1em; 
} */

#menu-icon {
    display: block; /* Show the menu icon */
    font-size: 2em;
    color: white;
    cursor: pointer;
    margin-right: auto; /* Pushes the icon to the left */
}

#navbar {
    background-color: #4b5c73;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1002; /* Increase z-index so it's above the sidebar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start; /* Align items to the start (left) */
    align-items: center;
    padding: 1em; /* Single padding */
}

#side-nav {
    height: 100%; /* Full height */
    width: 0; /* Initial width */
    position: fixed; /* Fixed Sidebar (stay in place) */
    z-index: 1001; /* Ensure sidebar is below the navbar */
    top: 0;
    left: 0;
    background-color: rgba(75, 92, 115, 0.9); /* Sidebar color with transparency */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    padding-top: 60px; /* Place content 60px from the top */
}


#side-nav.open {
    width: 250px; /* Set width when opened */
}

#side-nav ul {
    padding: 0;
    margin: 50px 0 0 0; /* Add margin to push content lower */
    list-style-type: none;
}

#side-nav ul li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2em; /* Smaller font size */
    color: white;
    display: block;
    transition: 0.3s;
}

#side-nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#side-nav ul li a:hover {
    color: #9bb0c6;
}

#side-nav .close-btn {
    position: absolute;
    top: 15px; /* Adjust top to ensure it's visible */
    right: 15px; /* Adjust right to ensure it's not covered */
    font-size: 2em;
    color: white;
    text-decoration: none;
    cursor: pointer;
    z-index: 1002;
}

/* General styles for smaller screens */
@media only screen and (max-width: 768px) {
    body {
        font-size: large;
        zoom: 1; /* Reset zoom for smaller screens */
    }

    header {
        padding: 1em 0;
        font-size: 1.2em;
    }

    .event-column {
        flex: 1 1 100%; /* Stack columns on top of each other */
        margin-bottom: 1em;
    }

    #programme-container {
        max-width: 100%;
    }

    .programme-icon {
        width: 80px;
        height: 80px;
        font-size: 40px;
    }

    .programme-content {
        padding: 0.5em;
        font-size: 1em;
    }

    .programme-content h3 {
        font-size: 1.2em;
    }

    .programme-content p {
        font-size: 1em;
    }

    .programme-content h4 {
        font-size: 1em;
    }

    .rsvp-message {
        font-size: 1em;
        top: 5px;
        right: 5px;
    }

    header h1 {
        font-size: 2em; /* Scale down font size */
    }

    .decorative-date {
        margin: 0.3em 0;
        font-size: 1.2em;
    }

    .date-text {
        font-size: 1.5em; /* Scale down font size */
    }

    .decorative-date::before, .decorative-date::after {
        width: 25%; /* Shorten the lines on smaller screens */
    }

    #nav-links {
        position: absolute;
        top: 100%; /* Position below the navbar */
        left: 0;
        right: 0;
    }
    
    .timeline-image img {
        width: 150px; /* Adjust width for smaller screens */
        height: 150px; /* Adjust height for smaller screens */
        border-radius: 50%; /* Ensure the images remain circular */
    }
    #side-nav ul {
        position: absolute;
        top: 90px; /* Position it just below the burger icon */
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        list-style-type: none; /* Ensure no extra space is added by list styling */
        text-align: center; /* Center the text */
    }

    /* Adjust the sidebar itself */
    #side-nav {
        padding-top: 0; /* Remove padding to ensure the ul starts at the top */
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em; /* Scale down font size further */
    }

    .decorative-date {
        margin: 0.2em 0;
        font-size: 1em;
    }

    .date-text {
        font-size: 1.2em; /* Further reduce font size */
    }

    .decorative-date::before, .decorative-date::after {
        width: 20%; /* Further shorten the lines on very small screens */
    }
}
/* Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

/* Hide slides by default */
.mySlides {
    display: none;
}

/* Next & Previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: 0.6s ease;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Toggle button style */
.toggle-slideshow {
    cursor: pointer;
    color: #4b5c73;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 5px;
    display: inline-block;
}

.toggle-slideshow:hover {
    color: #9bb0c6;
}
.pdf-container {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Make programme-item horizontal */
.programme-item {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    background-color: #f1f8ff;
    border-radius: 8px;
    margin: 0.5em auto;
    max-width: 700px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Keep icon centered and circular */
.programme-icon {
    width: 60px;
    height: 60px;
    background-color: #4b5c73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.programme-icon i {
    color: white;
    font-size: 24px;
}

/* Style the time and name text */
.programme-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
    font-family: 'Cinzel', serif;
    color: #4b5c73;
    font-size: 1.2em;
}

/* Style time */
.programme-content h3 {
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
}

/* Style name */
.programme-content p {
    margin: 0;
    font-style: italic;
    font-size: 1.1em;
}
@media (max-width: 600px) {
    .programme-item {
        flex-wrap: wrap;
        background-color: #f1f8ff;
        justify-content: flex-start;
        gap: 0.5em;
    }

    .programme-content {
        flex-direction: row;
        gap: 1em;
        flex-wrap: nowrap;
        flex: 1;
        display: flex;
        align-items: center;
    }

    .programme-icon {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .programme-content h3,
    .programme-content p {
        font-size: 1em;
        white-space: nowrap; /* Prevent wrapping */
    }
}

