/* General styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #4b5c73;
    font-weight: 0;
}

/* header {
    text-align: center;
    background-color: #b0c4de;
    color: white;
    padding: 2em 0;
    font-weight: 400;
    text-transform: uppercase;
} */
 header {
    text-align: center;
    background: url('background.jpg') no-repeat center center;
    background-size: cover;
    color: #4b5c73;
    padding: 2em 0;
    text-transform: uppercase;

}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

#countdown {
    margin-top: 1em;
    font-size: 1.5em;
    background: #b0c4de;
    padding: 0.5em;
    border-radius: 5px;
    display: inline-block;
}

/* Section styles with different shades */
section {
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

section:nth-of-type(1) {
    background-color: #c4dbf4; /* Light shade of dusty blue */
}

section:nth-of-type(2) {
    background-color: #d3dce7; /* Slightly darker shade of dusty blue */
}

section:nth-of-type(3) {
    background-color: #f7f8f9; /* Another shade of dusty blue */
}

section:nth-of-type(4) {
    background-color: #bac6d5; /* Another shade of dusty blue */
}

section:not(:first-of-type) {
    margin-top: -1em; /* Remove the gap between sections */
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Playwrite+CZ:wght@100..400&display=swap');
h2 {
    color: #4b5c73;
    font-family: 'Cinzel';
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 100;
}

.detail-section {
    margin-bottom: 2em;
    font-style: italic;
    font-weight: 100;
}

.detail-section h3 {
    text-align: left;
    color: #4b5c73;
    margin-top: 0;
    font-family: 'Cinzel';
    text-transform: uppercase;
    font-style: normal;
    font-size: x-large;
    font-weight: 200;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 0.5em;
}

form input, form select, form button {
    margin-top: 0.5em;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #4b5c73;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #9bb0c6;
}

.qr-codes {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

.qr-codes div {
    text-align: center;
}

.qr-codes img {
    max-width: 100px;
    height: auto;
}

/* .story-photo {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    object-fit: contain; 

    margin: 1em 0;
    border-radius: 8px;
} */


/* .slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    height: 600px; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c4dbf4; 
} */

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    border-radius: 8px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.story-content {
    display: flex;
    align-items: space-between;
    gap: 20px; /* Add some space between the image and text */
    font-style: italic;
    font-weight: 100;
    padding-top: 0; /* Remove padding if any */
    overflow: hidden; /* Clear floats */
    text-justify: auto;
    text-align: justify;
}

/* .story-content p {
    flex: 1;
    margin: 0;
} */

.story-content .text-content {
    flex: 1; /* Allow the text to take up one part of the space */
    padding: 1em;
    max-width: 50%; /* Ensure it does not take more than half of the section */
    text-align: justify; /* Align text to the left */
}

.story-content .slideshow-container {
    flex: 1; /* Allow the slideshow to take up one part of the space */
    max-width: 50%; /* Ensure it does not take more than half of the section */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white; /* Add a white line between the two columns */
    padding: 1em;
    box-sizing: border-box;
    background-color: #c4dbf4; /* Add a background color for better visibility */
}

.slideshow-container {
    flex: 1; /* Allow the slideshow to take up one part of the space */
    max-width: 50%; /* Ensure it does not take more than half of the section */
    height: 100%; /* Make sure it stretches to fit the height of the container */
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white; /* Add a white line between the two columns */
    padding: 1em;
    box-sizing: border-box;
    background-color: #c4dbf4; /* Add a background color for better visibility */
}

.story-photo {
    width: 100%;
    height: 400px; /* Set a fixed height */
    object-fit: contain; /* Ensure the entire image fits within the specified dimensions */
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}
